html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #333;
}

.playground {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  background: no-repeat center / cover url("../images/cage-space-cloud-purple-opt.jpg");
  transform-origin: 0 0;
}

.playground__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #acbcbf;
  transition: opacity 1s;
}

.debug-canvas {
  pointer-events: none;
  user-select: none;
  z-index: 100;
}

.player {
  user-select: none;
  position: absolute;
  z-index: 10;
  border: 2px solid white;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition:
    left 0.025s, 
    top 0.025s, 
    border-color 1s, 
    background-color 1s, 
    opacity 0.5s;
}
.player--charge_teleport {
  animation: shake-player 1s 0s infinite forwards;
}
.player--teleport {
  transition:
    border-color 1s,
    background-color 1s,
    opacity 0.5s;
}
.player--dead {
  z-index: 9;
  border-color: #c97a7c;
  transition:
    left 0.5s ease-out, 
    top 0.5s ease-out, 
    border-color 1s, 
    background-color 1s, 
    opacity 0.5s;
}
.player::before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.blood {
  user-select: none;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c97a7c;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  transition: opacity 0.5s;
  animation: blood 4s 0s 1 forwards;
}
.blood--small,
.blood--medium {
  animation: none;
}

@keyframes blood {
  0% {
    transform: scale(0.7) translate(-50%, -50%);
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
  }
}


.enemy {
  user-select: none;
  position: absolute;
  z-index: 21;
  /* border: 2px solid black; */
  background: #e91b53;
  box-sizing: border-box;
  transform: translate3d(-100%, 0, 0);
  transition: background-color 5s linear;
  /* animation: colors 10s 0s infinite forwards; */
}
.enemy.initiated {
  transition: transform 0.15s, background-color 5s linear;
}

.enemy-shadow {
  user-select: none;
  position: absolute;
  z-index: 20;
  /* border: 2px solid black; */
  background: black;
  box-sizing: border-box;
  transition: transform 0.15s;
}

.objective {
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  z-index: 50;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 0.5em 5px white;
  transition: opacity 0.3s, transform 0.3s;
  animation: star-rotation linear 4s 0s infinite;
}

.objective__star {
  position: absolute;  
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-right:  0.3em solid transparent;
  border-bottom: 1em  solid transparent;
  border-left:   0.3em solid transparent;
}
  
.objective__star::before,
.objective__star::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right:  1em solid transparent;
  border-bottom: 0.7em  solid transparent;
  border-left:   1em solid transparent;
}
.objective__star::before {
  transform: rotate(-35deg);
}
.objective__star::after {
  transform: rotate(35deg);
}

.objective__star--front {
  border-bottom-color:#62cdff;
  font-size: 0.65em;
  transform: translate3d(-50%, -21%, 0);
}
.objective__star--front::before,
.objective__star--front::after {
  border-bottom-color: #62cdff;
}

.objective__star--back {
  border-bottom-color:#38f8ff;
  font-size: calc(0.65em + 8px);
  transform: translate3d(-50%, calc(-21% - 6px), 0);
}
.objective__star--back::before,
.objective__star--back::after {
  border-bottom-color: #38f8ff;
}

.score-counter--overlay {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  padding: 10px;
  font: bold 16px arial;
  color: #fff;
  background: #000;
}


.test-center {
  position: absolute;
  z-index: 999;
  width: 3px;
  height: 3px;
  background-color: white;
}


@keyframes star-rotation {
  0% {
    transform: scale(0.9) rotate(45deg);
  }
  25% {
    transform: scale(1.1) rotate(135deg);
  }
  50% {
    transform: scale(0.9) rotate(225deg);
  }
  75% {
    transform: scale(1.1) rotate(315deg);
  }
  100% {
    transform: scale(0.9) rotate(405deg);
  }
}

@keyframes colors {
  0% {
    background:  #e91b53;
  }
  33.33% {
    background:  #be40d9;
  }
  66.66% {
    background: #e9ad54
  }
  100% {
    background:  #e91b53;
  }
}

@keyframes shake-player {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(0.9);
  }
  10% {
    transform: translate3d(-65%, -50%, 0) scale(0.95);
  }
  20% {
    transform: translate3d(-50%, -65%, 0) scale(0.85);
  }
  30% {
    transform: translate3d(-35%, -35%, 0) scale(0.95);
  }
  40% {
    transform: translate3d(-55%, -35%, 0) scale(0.75); 
  }
  50% {
    transform: translate3d(-65%, -65%, 0) scale(0.9);
  }
  60% {
    transform: translate3d(-50%, -45%, 0) scale(0.95);
  }
  70% {
    transform: translate3d(-35%, -65%, 0) scale(0.85);
  }
  80% {
    transform: translate3d(-40%, -35%, 0) scale(0.95);
  }
  90% {
    transform: translate3d(-55%, -40%, 0) scale(0.9);
  }
  100% {
    transform: translate3d(-35%, -45%, 0) scale(0.925);
  }
}