html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #666;
}

.player {
  cursor: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 30px;
  transform: translate(-50%, -50%);
}