html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #acbcbf;
}

#playground {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player {
  user-select: none;
  position: absolute;
  z-index: 10;
  border: 2px solid white;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition:
    left 0.025s, 
    top 0.025s, 
    border-color 1s, 
    background-color 1s, 
    opacity 0.5s;
}
.player.dead {
  z-index: 9;
  border-color: #c97a7c;
  transition:
    left 0.5s ease-out, 
    top 0.5s ease-out, 
    border-color 1s, 
    background-color 1s, 
    opacity 0.5s;
}
.player::before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.blood {
  user-select: none;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c97a7c;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  transition: opacity 0.5s;
  animation: blood 4s 0s 1 forwards;
}
.blood--small,
.blood--medium {
  animation: none;
}

@keyframes blood {
  0% {
    transform: scale(0.7) translate(-50%, -50%);
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
  }
}


.enemy {
  user-select: none;
  position: absolute;
  z-index: 21;
  /* border: 2px solid black; */
  background: #e91b53;
  box-sizing: border-box;
  transform: translate3d(-100%, 0, 0);
  transition: background-color 5s linear;
  /* animation: colors 10s 0s infinite forwards; */
}
.enemy.initiated {
  transition: transform 0.15s, background-color 5s linear;
}

.enemy-shadow {
  user-select: none;
  position: absolute;
  z-index: 20;
  /* border: 2px solid black; */
  background: black;
  box-sizing: border-box;
  transition: transform 0.15s;
}

/* .objective {
  border: 2px solid #ffe62f;
  background: #98faee;
} */

.objective {
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  z-index: 50;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #ffe62f;
  border-left:   .3em solid transparent;

  font-size: 24px;
  
  transform: translate3d(-100%, -100%, 0);
  transform-origin: -45% 36%;
  
  transition: opacity 0.3s, transform 0.3s;
  animation: star-rotation linear 4s 0s infinite;
}
  
.objective::before,
.objective::after {
  content: '';
  
  display: block;
  width: 0;
  height: 0;
  
  position: absolute;
  top: .6em;
  left: -1em;

  border-right:  1em solid transparent;
  border-bottom: .7em  solid #ffe62f;
  border-left:   1em solid transparent;

  transform: rotate(-35deg);
}

.objective::after {
  transform: rotate(35deg);
}

.objective__inner {
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #98faee;
  border-left:   .3em solid transparent;
  
  font-size: 1.1em;
  
  transform: translate3d(-25%, -25%, 0);
}

.objective__inner::before,
.objective__inner::after {
  content: '';
  
  display: block;
  width: 0;
  height: 0;
  
  position: absolute;
  top: .6em;
  left: -1em;

  border-right:  1em solid transparent;
  border-bottom: .7em  solid #98faee;
  border-left:   1em solid transparent;

  transform: rotate(-35deg);
}

.objective__inner::after {
  transform: rotate(35deg);
}

@keyframes star-rotation {
  0% {
    transform: scale(0.9) rotate(45deg) translate3d(-100%, -100%, 0);
    /* transform: scale(1) rotate(45deg) translate3d(-100%, -100%, 0); */
  }
  25% {
    transform: scale(1.1) rotate(135deg) translate3d(-100%, -100%, 0);
    /* transform: scale(1) rotate(135deg) translate3d(-100%, -100%, 0); */
  }
  50% {
    transform: scale(0.9) rotate(225deg) translate3d(-100%, -100%, 0);
    /* transform: scale(1) rotate(225deg) translate3d(-100%, -100%, 0); */
  }
  75% {
    transform: scale(1.1) rotate(315deg) translate3d(-100%, -100%, 0);
    /* transform: scale(1) rotate(315deg) translate3d(-100%, -100%, 0); */
  }
  100% {
    transform: scale(0.9) rotate(405deg) translate3d(-100%, -100%, 0);
    /* transform: scale(1) rotate(405deg) translate3d(-100%, -100%, 0); */
  }
}


.score-counter--overlay {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  padding: 10px;
  font: bold 16px arial;
  color: #fff;
  background: #000;
}


.test-center {
  position: absolute;
  z-index: 999;
  width: 3px;
  height: 3px;
  background-color: white;
}





@keyframes colors {
  0% {
    background:  #e91b53;
  }
  33.33% {
    background:  #be40d9;
  }
  66.66% {
    background: #e9ad54
  }
  100% {
    background:  #e91b53;
  }
}